{% extends "base.html" %}

{% block content %}
<h1>Granny's Restraurant Reservations</h1>
<p>Please select from the below available seat configurations. Please note that you must be logged in to make a reservation.</p>
    {% for seat in object_list %}
         <br>

        <!-- cards for the different table sizes-->
        <div class="card" style="width: 18rem;">
            <img src="{{ seat.seat_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Seat {{ seat.seat_code }}</h5>
            <p class="card-text">{{ seat.seat_desc }}</p>
            <p class="card-text">{{ seat.seat_status }}</p>

            <a href="{% url 'bookings' 1 %}" class="btn btn-primary">Reserve</a>
            <a href="#" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    {% endfor %}

    

{% endblock %}

{% block footer %}

{% endblock %}

index


